################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Conversation/FileContentIndex/a2c1eac4-fac1-412a-9606-1bec2d24aeab.vsidx
/.vs/Conversation/FileContentIndex
/.vs/Conversation/v17
